# Introduction to Python (continue)

This notebook is a practical introduction to core Python concepts used in data science and general programming. It includes runnable examples and short exercises you can try in-place.

**Contents**
1. Basics: variables & types
2. Numbers & strings
3. Collections: lists, tuples, sets, dicts
4. Control flow: if/elif/else
5. Loops: `for` & `while` + comprehensions
6. Functions & scope
7. Exceptions
8. Files: read/write (text, CSV, JSON)
9. Tabular data with pandas DataFrames
10. Simple plotting with matplotlib

> Tip: Run a cell with **Shift+Enter**.

## 1. Basics: variables & types
Python is dynamically typed—types are attached to values, not names.

In [2]:

# Assign variables
x = 42               # int
y = 3.14             # float
name = "Hydropower"  # str
is_green = True      # bool
nothing = None       # special null value

# Inspect types
print(type(x), type(y), type(name), type(is_green), type(nothing), sep="\n")

# Reassignment is allowed; the name can point to a new type
x = "now I'm a string"
type(x)

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'NoneType'>

str

## 2. Numbers & strings
Python supports integers, floats, and complex numbers; strings are immutable sequences of Unicode characters.

In [3]:

# Arithmetic with numbers
a, b = 10, 3
print("a + b =", a + b)
print("a - b =", a - b)
print("a * b =", a * b)
print("a / b =", a / b)      # true division
print("a // b =", a // b)    # floor division
print("a % b =", a % b)      # modulo
print("a ** b =", a ** b)    # power

# Working with strings
s = "River Basin"
print(s.lower(), s.upper(), sep="\n")
print(s.replace(" ", "_"))
print(s[0], s[-1], s[:5])  # indexing & slicing

# f-strings for readable formatting
basin = "Amazon"
dams = 349
print(f"{basin} has {dams:,} proposed dams.")

a + b = 13
a - b = 7
a * b = 30
a / b = 3.3333333333333335
a // b = 3
a % b = 1
a ** b = 1000
river basin
RIVER BASIN
River_Basin
R n River
Amazon has 349 proposed dams.

## 3. Collections: lists, tuples, sets, dicts
- **List**: ordered, mutable
- **Tuple**: ordered, immutable
- **Set**: unordered, unique elements
- **Dict**: key–value mapping


## Collections in Python  

| Type   | Ordered | Mutable | Allows Duplicates | Syntax | Typical Use Case |
|--------|---------|---------|-------------------|--------|------------------|
| **List** | ✅ Yes | ✅ Yes | ✅ Yes | `[1, 2, 3]` | Store a sequence of items where order matters and elements may change. |
| **Tuple** | ❌ No | ❌ No | ✅ Yes | `(1, 2, 3)` | Fixed collection of items; often used for coordinates or data that should not change. |
| **Set** | ❌ No (unordered) | ✅ Yes | ❌ No (all elements unique) | `{1, 2, 3}` | Collection of unique items; useful for membership testing and removing duplicates. |
| **Dict** | ✅ Yes (Python 3.7+ maintains insertion order) | ✅ Yes | Keys: ❌ No duplicates<br>Values: ✅ Yes | `{"key": "value"}` | Map keys to values; fast lookup by key. |

In [4]:

# List
capacities = [120, 55, 300, 180]
capacities.append(90)
capacities.sort()
print("List:", capacities)

# Tuple
coords = (3.1, -60.0)   # (lat, lon)
print("Tuple:", coords)

# Set
countries = {"BR", "PE", "CO", "BR"}
countries.add("BO")
print("Set:", countries)  # duplicates removed

# Dict
dam = {"name": "Belo Monte", "country": "BR", "capacity_MW": 11233}
dam["river"] = "Xingu"
print("Dict:", dam)

# Useful iteration
for k, v in dam.items():
    print(f"{k}: {v}")

List: [55, 90, 120, 180, 300]
Tuple: (3.1, -60.0)
Set: {'BR', 'PE', 'CO', 'BO'}
Dict: {'name': 'Belo Monte', 'country': 'BR', 'capacity_MW': 11233, 'river': 'Xingu'}
name: Belo Monte
country: BR
capacity_MW: 11233
river: Xingu

In [5]:
# 1. List: ordered, mutable, allows duplicates
my_list = [1, 2, 2, 3]
my_list.append(4)
my_list[0] = 10
print("List:", my_list)

# 2. Tuple: ordered, immutable, allows duplicates
my_tuple = (1, 2, 2, 3)
# my_tuple[0] = 10  # ❌ would raise an error (immutable)
print("Tuple:", my_tuple)

# 3. Set: unordered, unique elements only
my_set = {1, 2, 2, 3}
my_set.add(4)
print("Set:", my_set)   # duplicates removed, order not guaranteed

# 4. Dict: key–value pairs, keys unique
my_dict = {"a": 1, "b": 2}
my_dict["c"] = 3
my_dict["a"] = 99   # update value for existing key
print("Dict:", my_dict)

# Iterating over dictionary items
for key, value in my_dict.items():
    print(f"Key: {key}, Value: {value}")

List: [10, 2, 2, 3, 4]
Tuple: (1, 2, 2, 3)
Set: {1, 2, 3, 4}
Dict: {'a': 99, 'b': 2, 'c': 3}
Key: a, Value: 99
Key: b, Value: 2
Key: c, Value: 3

## 4. Control flow: `if` / `elif` / `else`

In [6]:

emission_intensity = 133.1  # kg CO2eq/MWh
if emission_intensity < 50:
    label = "low"
elif emission_intensity <= 100:
    label = "moderate"
else:
    label = "high"
label

'high'

## 5. Loops: `for`, `while`, and comprehensions

In [7]:

capacities = [75, 100, 215, 300, -5]  # example data
bins = [0, 100, 200, 300]

for cap in capacities:
    for i in range(len(bins)-1):
        if bins[i] <= cap < bins[i+1]:
            print(f"{cap} MW is in [{bins[i]},{bins[i+1]})")
            break
    else:
        print(f"{cap} MW is out of range")

count = 3
while count > 0:
    print("Countdown:", count)
    count -= 1

sq = [n*n for n in range(7)]
print("Squares:", sq)

75 MW is in [0,100)
100 MW is in [100,200)
215 MW is in [200,300)
300 MW is out of range
-5 MW is out of range
Countdown: 3
Countdown: 2
Countdown: 1
Squares: [0, 1, 4, 9, 16, 25, 36]

## 6. Functions & scope
Use functions to encapsulate reusable logic.

In [8]:
# A simple function with no arguments
def say_hello():
    return "Hello, World!"

print(say_hello())

# A function with parameters
def add_numbers(a, b):
    return a + b

print("Sum:", add_numbers(5, 7))

# A function with a default parameter
def greet(name="Student"):
    return f"Hello, {name}!"

print(greet())
print(greet("Hydropower Researcher"))

# A function with multiple return values
def min_max(numbers):
    return min(numbers), max(numbers)

values = [3, 7, 2, 9, 5]
low, high = min_max(values)
print(f"Lowest: {low}, Highest: {high}")

Hello, World!
Sum: 12
Hello, Student!
Hello, Hydropower Researcher!
Lowest: 2, Highest: 9

## 7. Exceptions
Handle errors gracefully using `try`/`except`.

In [9]:

def safe_divide(a, b):
    try:
        return a / b
    except ZeroDivisionError as e:
        return f"Error: {e}"

safe_divide(10, 0)

'Error: division by zero'

## 8. Sets
A s a container which contains unordered collections of unique items. 
They are defined like lists but they use the curly brackets as the dictionaries.

In [10]:
primes = {2, 3, 5, 7}
evens = {2, 4, 6, 8, 10}
odds = {1, 3, 5, 7, 9}

print(type(primes))

<class 'set'>

Sets supports well known algebraic set operations:

* ``union(*others)``
* ``set | other | ...``

Return a new set with elements from the set and all others.

In [11]:
print(evens)
print(odds)

allnumbers = evens | odds

allnumbers

{2, 4, 6, 8, 10}
{1, 3, 5, 7, 9}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

* ``intersection(*others)``
* ``set & other & ...``

Return a new set with elements common to the set and all others.

In [12]:
primes & odds

{3, 5, 7}

* ``difference(*others)``
* ``set - other - ...``
Return a new set with elements in the set that are not in the others.

In [13]:
evens - primes

{4, 6, 8, 10}

* ``symmetric_difference(other)``
* ``set ^ other``

Return a new set with elements in either the set or other but not both.

In [14]:
primes ^ odds

{1, 2, 9}

In [15]:
primes - odds

{2}

* ``isdisjoint(other)``

Return ``True`` if the set has no elements in common with other. Sets are disjoint if and only if their intersection is the empty set.

In [16]:
evens.isdisjoint(odds)

True

``issubset(other)``
``set <= other``

Test whether every element in the set is in other.

In [17]:
primes.issubset(allnumbers)

True

* ``set < other``

Test whether the set is a proper subset of other, that is, set <= other and set != other.

In [18]:
A = {1,2,3}
B = {1,2,3,4}

A < B

True

* ``issuperset(other)``
* ``set >= other``

Test whether every element in other is in the set.

In [19]:
primes.issuperset(odds)

False

In [20]:
allnumbers.issuperset(odds)

True

* ``set > other``

Test whether the set is a proper superset of other, that is, set >= other and set != other.

In [21]:
B > A

True

In [22]:
myclasses = ['Data Analytics', 'Network Optimization', 'Network Flows']

for myclass in myclasses:
    print (myclass, myclass.split())

Data Analytics ['Data', 'Analytics']
Network Optimization ['Network', 'Optimization']
Network Flows ['Network', 'Flows']

In [23]:
myclasses = ['Data Analytics', 'Network Optimization', 'Network Flows']

for myclass in myclasses[:]:
    if myclass[0] == 'D':
        myclasses.append('Data Mining')
        
myclasses

['Data Analytics', 'Network Optimization', 'Network Flows', 'Data Mining']

## The ``range()`` function

The built-in function ``range()`` iterates over a sequence of numbers and generates arithmetic progressions

In [24]:
for i in range(100):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [25]:
list(range(5, 21))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [26]:
list(range(0,20,4))

[0, 4, 8, 12, 16]

In [27]:
list(range(-10, -200, -40))

[-10, -50, -90, -130, -170]

In [28]:
print(list(enumerate(myclasses)))

[(0, 'Data Analytics'), (1, 'Network Optimization'), (2, 'Network Flows'), (3, 'Data Mining')]

In [29]:
myclasses = ['Data Analytics', 'Network Optimization', 'Network Flows']

for i in range(len(myclasses)):
    print (i, myclasses[i])
    
print()

for m in myclasses:
    print (myclasses.index(m), m)

print()

for i, m in enumerate(myclasses):
    print (i,m)

0 Data Analytics
1 Network Optimization
2 Network Flows

0 Data Analytics
1 Network Optimization
2 Network Flows

0 Data Analytics
1 Network Optimization
2 Network Flows

## ``break`` and ``continue`` Statements

The ``break`` and ``continue`` statements are borrowed from ``C``. The ``break`` statement, like in C, breaks out of the smallest enclosing ``for`` or ``while`` loop.

Loop statements may have an ``else`` clause.
It is executed when the loop terminates through exhaustion of the list (with ``for``) or when the condition becomes ``false`` (with ``while``), but **not** when the loop is terminated by a ``break`` statement.

In [30]:
for n in range(2, 10):
    print ('n =', n)
    for x in range (2, n):
        print ('x =', x)
        if n % x == 0:
            print(n, 'equals', x, '*', n//x) 
            break
    else:
        print(n, 'is prime')
    print ()

n = 2
2 is prime

n = 3
x = 2
3 is prime

n = 4
x = 2
4 equals 2 * 2

n = 5
x = 2
x = 3
x = 4
5 is prime

n = 6
x = 2
6 equals 2 * 3

n = 7
x = 2
x = 3
x = 4
x = 5
x = 6
7 is prime

n = 8
x = 2
8 equals 2 * 4

n = 9
x = 2
x = 3
9 equals 3 * 3

In [31]:
for n in range(2,11):
    if n % 2 == 0:
        print (n, 'is even')
        continue
    print (n, 'is odd')

2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even

In [32]:
import random as rd
print(rd.randint(1, 3))

1

## 9. Files: read & write (text, CSV, JSON)
Python's built-in `open` handles text files; `csv` and `json` handle structured data.

In [33]:

# 9.1 Text file
text_path = "notes.txt"
with open(text_path, "w", encoding="utf-8") as f:
    f.write("Hydropower notes\n- Example line 1\n- Example line 2")

with open(text_path, "r", encoding="utf-8") as f:
    print(f.read())

# 9.2 CSV using csv module
import csv
csv_path = "dams.csv"
rows = [
    {"name": "DamA", "capacity_MW": 120, "country": "BR"},
    {"name": "DamB", "capacity_MW": 300, "country": "PE"},
    {"name": "DamC", "capacity_MW": 90,  "country": "CO"},
]
with open(csv_path, "w", newline="", encoding="utf-8") as f:
    writer = csv.DictWriter(f, fieldnames=["name", "capacity_MW", "country"])
    writer.writeheader()
    writer.writerows(rows)

with open(csv_path, "r", encoding="utf-8") as f:
    print(f.read())

# 9.3 JSON

import json

json_path = "dams.json"
with open(json_path, "w", encoding="utf-8") as f:
    json.dump(rows, f, indent=2)

with open(json_path, "r", encoding="utf-8") as f:
    print(f.read())

Hydropower notes
- Example line 1
- Example line 2
name,capacity_MW,country
DamA,120,BR
DamB,300,PE
DamC,90,CO

[
  {
    "name": "DamA",
    "capacity_MW": 120,
    "country": "BR"
  },
  {
    "name": "DamB",
    "capacity_MW": 300,
    "country": "PE"
  },
  {
    "name": "DamC",
    "capacity_MW": 90,
    "country": "CO"
  }
]

## 9. Tabular data with pandas DataFrames
Pandas is the standard library for data manipulation. Let's read the CSV we wrote and do basic operations.

In [34]:

import pandas as pd

df = pd.read_csv(csv_path)
df

   name  capacity_MW country
0  DamA          120      BR
1  DamB          300      PE
2  DamC           90      CO

In [35]:

# Basic exploration
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         3 non-null      object
 1   capacity_MW  3 non-null      int64
 2   country      3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes

TypeError: NDFrame.describe() got an unexpected keyword argument 'numeric_only'

In [ ]:

# Filtering, sorting, new columns
high_cap = df[df["capacity_MW"] >= 100].sort_values("capacity_MW", ascending=False)
high_cap["power_density"] = high_cap["capacity_MW"] / 1.0  # pretend flooded area = 1 km^2
high_cap

## 10. Simple plotting with matplotlib
When plotting, we'll use matplotlib directly and avoid specifying colors per instructions.

In [1]:

import matplotlib.pyplot as plt

values = df["capacity_MW"].tolist()
labels = df["name"].tolist()

plt.figure()
plt.bar(labels, values)
plt.title("Installed Capacity by Dam (MW)")
plt.xlabel("Dam")
plt.ylabel("Capacity (MW)")
plt.show()

NameError: name 'df' is not defined

## ✍️ Practice exercises
1. Create a function `to_co2eq(tons)` that returns kilograms of CO2eq.
2. Add a new dam to `dams.csv` and re-run the pandas cells to see it appear.
3. Using a list comprehension, square only the even numbers from 0–20.
4. Modify the plotting cell to display a line plot of cumulative capacity.